#innera{
   background-image: url(../WhatsApp\ Image\ 2024-07-04\ at\ 01.32.44.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}
#innerb{
    background-image: url(../WhatsApp\ Image\ 2024-07-04\ at\ 01.32.03.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#innerc{
    background-image: url(../WhatsApp\ Image\ 2024-07-04\ at\ 01.32.56.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#innere{
    background-image: url(post1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#innerf{
    background-image: url(post2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#innerg{
    background-image: url(post4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#innerh{
    background-image: url(sunsetstreetpic2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#inneri{
    background-image: url(townhousepic5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#innerj{
    background-image: url(windowroompic6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#butt{
    background-color: blue;
}